.btn {
  position: relative;
  color: #fff;
  border: 0;
  background: $colorOrange;
  border-radius: 0 3px 3px 0;
  z-index: 2;

  &_big {
    padding: 20px 30px 20px 30px;
    font-size: 24px;

  }
  &_orange {
    color: #fff;
    background: $colorOrange;
    height: 100%;
    &:hover {
      background: #fff;
      color: $colorDark;
      &:after {
        content: '';
        border-left-color: #fff;
      }
    }
    /*&:before {
      content: '';
      position: absolute;
      width: 74px;
      height: 74px;
      background: $colorOrange;
      transition: .3s all ease;
      top: 0;
      right: -3px;
      z-index: -2;
    }*/
    &:after {
      content: '';
      position: absolute;
      border: 37px solid transparent;
      border-left: 37px solid $colorOrange;
      transition: .3s all ease;
      top: 0;
      right: -73px;
      z-index: -1;
    }
  }
}


* + .btn, * + .btn-group {
  margin-top: 32px;
}