.footer {
  background: $colorDark; //url(../images/dark-pattern.jpg); //$colorDark;
  padding: 25px 0;
  box-shadow: 0 -10px 17px 0 rgba(10, 10, 10, 0.11);
  //font-size: 16px;
  &__email {
    color: #fff;
    margin-bottom: 10px;
    & i {
      color: $colorLightGray;
      position: relative;
      top: 1px;
    }
  }
  &__phone {
    text-align: right;
    color: #fff;
    margin-bottom: 10px;
    & i {
      color: $colorLightGray;
      position: relative;
      top: 1px;
    }
  }
  & p {
    margin-bottom: 10px;
  }
  & a {
    color: $colorOrange;
    font-family: $fontSemiBold;
    transition: .3s all ease;
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  &__copyright {
    padding: 10px 0;
    //text-align: center;
    & a {
      font-family: $fontRegular;
    }
  }
  &__policy {
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    & a {
      font-family: $fontLight;
    }
  }

}

.esdi {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &:hover &__logo img {
      transform: rotate(360deg) scale(2);
  }
  &__logo {
    max-width: 30px;
    margin-right: 10px;
    & img {
      position: relative;
      transition: .5s all ease;
    }
  }
  &__text {
    & a {
      font-family: $fontLight;
      font-size: 15px;
      color: #575756;
    }
  }
}

@media only screen and (max-width : 992px) {
  .footer {
    &__phone {
      text-align: left;
    }
  }
}
@media only screen and (max-width : 768px) {
  .esdi {
    justify-content: center;
  }
}