@import "variables";
@import "bootstrap";
@import "grid";
@import "fontAweasome";
@import "fonts";
@import "animate";
@import "owl";


body {
  font-family: $fontRegular;
  font-size: 18px;
  color: $colorGray;
}
p {
  margin: 0 0 10px 0;
}


@import "header";
@import "rd-navbar";
@import "to-top";
@import "camera";
@import "slider";
@import "button";
@import "catalog";
@import "popup-form";
@import "content";
@import "content-form";
@import "suppliers";
@import "calculator";
@import "google-map";

@import "footer";


.feedback {
  //width: 70px;
  //height: 70px;
  background: $colorOrange;
  position: fixed;
  bottom: 40px;
  left: 30px;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  transform: translateX(-212px);
  transition: .7s all ease;
  //box-shadow: 3px 1px 14px rgba($colorGray,.5);
  &_scroll {
    transform: translateX(0px);
    transition: .7s all ease;
  }
  &:hover {
    background: #363636;
    color: #fff;
    &:after {
      content: '';
      border-left-color: #363636;
    }
  }
  &:focus {
    color: #fff;
  }
  &:after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid $colorOrange;
    transition: .7s all ease;
    top: 0;
    right: -39px;
    z-index: -1;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
  & i {
    font-size: 26px;
    color: #333;
  }
}
@media only screen and (max-width : 480px) {
  .feedback {
    display: none;
  }
}
.fontLight {
  font-family: $fontLight;
}
.fontRegular {
  font-family: $fontRegular;
}
.fontMedium {
  font-family: $fontMedium;
}
.fontSemiBold {
  font-family: $fontSemiBold;
}
.fontBold {
  font-family: $fontBold;
}
@import "mediaqueries";

