@import "variables";
@import "bootstrap";
@import "grid";
@import "fontAweasome";
@import "fonts";
@import "animate";


body {
  font-family: $fontRegular;
  font-size: 18px;
  color: $colorGray;
}

@import "header";
@import "rd-navbar";
@import "to-top";
@import "camera";
@import "slider";
@import "button";
@import "catalog";
@import "popup-form";

@import "footer";




.fontLight {
  font-family: $fontLight;
}
.fontRegular {
  font-family: $fontRegular;
}
.fontMedium {
  font-family: $fontMedium;
}
.fontSemiBold {
  font-family: $fontSemiBold;
}
.fontBold {
  font-family: $fontBold;
}
@import "mediaqueries";

